<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtoolbox">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".misc.XmlActivity"></activity>
        <activity android:name=".misc.NetActivity" />
        <activity android:name=".misc.SQLiteActivity" />
        <activity android:name=".misc.FragmentTestActivity" />

        <receiver
            android:name=".reciever.OrderedReceiver02"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".reciever.OrderedReceiver01"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".misc.OrderedBroadCastActivity" />
        <activity android:name=".misc.TestAidlActivity" />

        <service
            android:name=".services.AddressAidlService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".reciever.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".misc.AlarmManagerActivity" />

        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyIntentService"
            android:exported="false" />
        <service
            android:name=".services.PersonAidlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.androidtoolbox.services.PersonAidlService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".reciever.SimpleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.androidtoolbox.reciever.SimpleReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".misc.WorkerTestActivity" />
        <activity android:name=".misc.ServicesDemoActivity" />

        <service
            android:name=".services.MyService01"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.androidtoolbox.services.MyService01" />
            </intent-filter>
        </service>

        <activity android:name=".misc.TransactionBActivity" />
        <activity
            android:name=".misc.TransactionAActivity"
            android:label="@string/title_activity_transaction_a"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".misc.GestureActivity" />
        <activity android:name=".misc.AsyncTaskActivity" />
        <activity
            android:name=".misc.ConfigurationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".misc.TouchActivity" />
        <activity android:name=".misc.LooperActivity" />
        <activity android:name=".events.EventActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".widget.DrawerLayout2Activity" />
        <activity android:name=".widget.DrawerLayoutActivity" />
        <activity
            android:name=".widget.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".widget.MenuActivity"
            android:label="MenuActivity" />
        <activity android:name=".widget.PopupWindowActivity" />
        <activity android:name=".widget.AlertDialogActivity" />
        <activity android:name=".widget.NotificationActivity" />
        <activity android:name=".widget.ToastActivity" />
        <activity android:name=".widget.ViewFlipperActivity" />
        <activity android:name=".widget.SpinnerActivity" />
        <activity android:name=".widget.GridViewActivity" />
        <activity android:name=".widget.MultiItemListViewActivity" />
        <activity android:name=".widget.ListViewItemClickFocusActivity" />
        <activity android:name=".widget.AnimListViewActivity" />
        <activity android:name=".widget.ListViewAdaptersActivity" />
        <activity android:name=".widget.ScrollViewActivity" />
        <activity android:name=".widget.SeekBarActivity" />
        <activity android:name=".widget.ProgressBarActivity" />
        <activity android:name=".widget.ImageViewActivity" />
        <activity android:name=".widget.ButtonActivity" />
        <activity
            android:name=".widget.EditTextActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".widget.TextViewActivity" />
        <activity android:name=".layout.GridLayoutActivity" />
        <activity android:name=".sisterrun.SisterRunActivity" />
        <activity android:name=".layout.FrameLayoutActivity" />
        <activity android:name=".layout.TableLayoutActivity" />
        <activity android:name=".layout.RelativeLayoutActivity" />
        <activity android:name=".layout.LinearLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>